body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
}


.hero-title {
  font-size: 44px;
  line-height: 1.36; 
  font-weight: 900;
  text-transform: uppercase;
}

.hero-button {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}